body {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
  color: $text;
  margin: 0;
  padding: 100px;
}

h1 {
  font-size: 62px;
  color: $lblue;
  text-align: center;
}

h2 {
  color: $dblue;
}

p {
  color: $text;
}

a {
  color: $clickable;
  transition: color $hover-timing ease;
  &:hover {
    color: darken($clickable, 6%);
  }
}
